// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cocktail-container{
  display:flex;
  margin: 25px 0;
}
.cocktail-header{
  margin-top: 25px;
}
.cocktail-header h3{
  margin: 5px 0;
}
.cocktail-info{
}
.cocktails-list{
  display: flex;
  margin: 25px 0;
}
.cocktail-description{
  height: 350px;
}
.cocktail-ingredient-form{
  height: 350px;
}
.cocktail-list-name h4{
  margin: 0px;
}
.cocktail-list-image{
  height: 300px;
  background-size: cover;
  background-position: center;
}
.card-container{
  display: flex;
}
#btn-add-cocktail{
  margin-bottom: 50px;
  margin-left: 15px;
}
#btn-edit-cocktail{
  margin-bottom: 50px;
  margin-left: 15px;
}
#btn-delete-cocktail{
  margin-bottom: 50px;
  margin-left: 15px;
}
.ingredient-container{
  display: flex;
  justify-content: space-between;
}
