// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cocktail-container{
  display:flex;
  margin: 25px 0;
}
.cocktail-header{
  margin-top: 25px;
}
.cocktail-header h3{
  margin: 5px 0;
}
.cocktail-info{
  height: 50vh;
}
